<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php">

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="MONGODB_URI" value="mongodb://127.0.0.1:27017"/>
        <env name="MONGODB_DATABASE" value="lomocoin_mongodb_test"/>
        <env name="MONGODB_TRANSACTION_COLLECTION" value="lomocoin_mongodb_test_transaction"/>
        <env name="MONGODB_TRANSACTION_LOG_COLLECTION" value="lomocoin_mongodb_test_transaction_state_change_log"/>
    </php>

    <testsuites>
        <testsuite name="Functional Test Suite">
            <file>./tests/FunctionalTests/ConnectionTest.php</file>
        </testsuite>

        <testsuite name="Unit Test Suite">
            <file>./tests/UnitTests/Transaction/InsertTest.php</file>
            <file>./tests/UnitTests/Transaction/UpdateTest.php</file>
            <file>./tests/UnitTests/Transaction/DeleteTest.php</file>
            <file>./tests/UnitTests/Transaction/RollbackTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>